<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create An Acoount</title>
</head>
<body>
    <header>
        <h1>Create An Account</h1>
    </header>
    <main>
        <form method="get">
            <p>First Name</p>
            <input type="text" placeholder="Enter First Name"><br>
            <p>Last Name</p>
            <input type="text" placeholder="Enter Last Name"><br>
            <p>Email</p>
            <input type="text" placeholder="Enter Email"><br>
            <p>Phone Number</p>
            <input type="number" placeholder="Enter Phone number"><br>
            <p>Password</p> 
            <input type="text" placeholder="Enter Password"><br>
            <button> Create an Accounts</button>
        </form>
    </main>
    <p>By signing up you agree to our terms and condition & privacy policy</p>
</body>
</html>