<h1>Login</h1>

<form action="Get">
<button id ="btn">Login with Google</button><br>
<button id ="btn">Login with Apple</button>
<p id = "or">OR</p>
<P>Email Address or Phone Number</P>
<input type="email" placeholder="Enter Email Address OR Phone Number">
<div id="password">
    <p id="pass">Password</p>   <span><a routerLink="" id="forgetLink">Forgot Password?</a></span>
</div>
<input type="text" placeholder="Enter Password">
<button id = "login" name="Login">Login</button>
<hr/>
<p>Don't have an Account ?</p>
<button>Create an Account</button>
</form>